ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0%;
}

.card{
    width: 18rem;
    border-radius: 1rem;
    
}

.card .card-img-top {
    border-radius: 1rem; 
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #e72929;
    font-family:fantasy;
}

.favorite.not{
    color: black;
}

.stars{
    margin-bottom: 0.2rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.origins{
    flex: 9;
}

.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color:gray;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
}

.cook-time{
    font-size: 0.9rem;
    flex: 3;
    text-align: right;
}

.price{
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    background: white;
    padding-bottom: 6%;
    color: #414141;
    margin-top:0.7rem;
    font-size: 1.1rem;
}

